<div class="container">
  <p>App Components Working</p>
  <h3>Search</h3>
  <form (submitUser)='submitUser()'>
    <input type="text" class="form-control m-3" placeholder="Search..." [(ngModel)]='search' name='search'>
    <button type="submit" class='btn btn-primary m-3'>Submit</button>
  </form>
  <hr>
  <h3>User Details</h3>
  <button (click)='displayUserDetail()'>Display</button>
  <!-- <p>Login name {{ holdUserDetails.login }}</p>
  <a href="{{holdUserDetail.repos_url }}">Repo links</a>
  <img src='{{ holdUserDetails.avatar_url }}'>
  <p>{{ holdUserDetail.name }}</p> -->
  <hr>
  <h3>User Repos</h3>
  <router-outlet></router-outlet>
</div>
